
{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
<title>Sign Up</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link  type="text/css" href="{% static 'main/css/Style.css' %}" rel="stylesheet">
<link  type="text/css" href="{% static 'main/css/Responsive.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href={% static 'main/css/siginup.css' %} >
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" >
<script src="https://kit.fontawesome.com/6f4051ccb8.js" crossorigin="anonymous"></script>
<script src="{% static 'main/js/script.js' %}"  defer></script>
</head>

<body>
<header>
  <nav>
        <div class="menu-icon">
          <span class="fas fa-bars"></span>
        </div>
        
        <div class="logo">Recipe Land</div>
        <div class="nav-items">
          <li id="home-active"><a href="{% url 'index' %}"><i class="fa fa-home"></i>Home</a></li>
          <li id="dropdown-menu"><a href="#"><i class="fa fa-caret-down"></i>Category</a>
         <div class="categories">
           <ul>
            <li><a href="#">Easy Dinner</a></li>
            <li><a href="#">Work Lunch</a></li>
            <li><a href="#">Air Fyer</a></li>
            <li><a href="#">North India</a></li>
            <li><a href="#">5 Ingredient Meals</a></li>
            <li><a href="#">One Pot Recipe</a></li>
            <li><a href="#">Family Dinner</a></li>
            <li><a href="#">Date Night</a></li>
            <li><a href="#">Slow Cooker Recipes</a></li>
            <li><a href="#">Plant Based Meals</a></li>
            <li><a href="#">Breakfast</a></li>
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Dinner</a></li>
            <li><a href="#">Desserts</a></li>
            <li><a href="#">Snacks</a></li>   
           </ul>
         </div></li>
          <li><a href="#"><i class="fa fa-blog"></i>Post</a></li>
          <li><a href="#"><i class="fa fa-info"></i>About us</a></li>
          <li><a href={% url 'login' %}><i class="fa fa-right-to-bracket"></i>Login</a></li>
          <li id="signup-active"><a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i>Sign Up</a></li>
        </div>
   
        <div class="search-icon">
          <span class="fa-solid fa-magnifying-glass"></span>
        </div>
   
        <div class="cancel-icon">
          <span class="fas fa-times"></span>
        </div>
   
        <form action="#">
          <input type="search" class="search-data" placeholder="Find a recipe" required>
          <button type="submit" class="fas fa-search"></button>
        </form>
      </nav>
</header>
  <div class=".register-form">	 
    <form class="sign-up-form" method="Post" >   
      <img class="user1" src="{% static  'main/img/users.png' %}">
      <h1> Sign up now </h1>
      {% csrf_token %}
      <input type="text" class="input-box" name='first-name' pattern="[a-zA-Z'-'\s]*" placeholder="First Name"  required>
      <input type="text" class="input-box" name='last-name' placeholder="Last Name">
      <input type="text" class="input-box" name='username' placeholder="Username" required>
      <input type="email" class="input-box" name='email' placeholder="Your Email" required>
      <input type="password" class="input-box" name='password' placeholder="Enter Password" required> 
      <input type="password" class="input-box" name='cnf-password' placeholder="Confirm Password" required>  
      <p><span><input type="checkbox" required></span>I agree to the terms of services</p>
      <button type="submit" class="signup-btn">Sign up</button>
      <hr>
      <p class="or">OR</p>
      <p class="message">Do you have an Account? <a href="{% url 'login' %}">Sign In</a></p>
    </forms>
  </div>
  <script type="text/javascript" src="{% static 'main/js/sigma.js' %}"></script>
   <script>
    function myOnClick()
    {
      document.location.href="{% url 'login' %}"
    }
   </script>
   
</body>
</html>